# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cache
*.vscode/
log/
build/
tmp/
data/
temp/
docs/
3rdparty/*
!3rdparty/CMakeLists.txt
!3rdparty/cutlass

# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
*.egg
.pytest_cache/
.coverage
htmlcov/

